*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/20230313\ \ Pizzéria\ cssgrid\ oldal\ készítése/kepek/pizzahatter.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    font-family: 'Bebas Neue', cursive !important;
}
a{
    text-decoration: none;
    color: white;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav a{
    font-size: 1.5vw;
}

#nev select{
    max-width: 50vw;
    width: 15vw;
    font-size: 1vw;
}

#mennyiseg select{
    max-width: 50vw;
    width: 15vw;
}

#kosar{
    padding: 1em;
    border: 2px solid red;
    border-radius: 15px;
    background-color: rgb(99, 0, 0);
}

#fo{
    padding: 1em;
}

#info{
    padding: 1em;
}

#etlap{
    padding: 1em;
}
.icon{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon:hover{
    cursor: pointer;
}

#img{
    width: 100px;
    height: 100px;
}

.compCont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px red solid;
    border-radius: 30px;
    background-color: transparent;
    margin-left: 50px;
    padding: 30px;
    width: 150px;
    height: 40px;
    font-family: 'Fasthand', cursive;
    font-size: 25px;
    line-height: 10px;
    font-weight: 200px;
}
button p{
    color:  red;
}

button:hover{
    cursor: pointer;
}

button:active{
    background-color: rgb(112, 34, 34);
    border: 1px solid black;
    width: 120px;
    height: 35px;
}


.cont{
    display: grid;
    grid-template-columns: repeat(9, 200px);
    grid-template-rows: repeat(5,190px);
    color: white;
}
.menu{
    text-align: center;
    padding: 3px 6px;
    margin: 50px 50px;
	display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/ span 3;
    grid-row: 1;
    font-family: 'Fasthand', cursive;
    

}
ul{
    list-style: none;
    display: flex;
    flex-flow: row;
    gap: 65px;
    font-size: 25px;
}

#fo:hover{
    color: green;
    cursor: pointer;
}

#etlap:hover{
    color: lightgrey;
    cursor: pointer;
}

#info:hover{
    color: red;
    cursor: pointer;
}

.kosar{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 30px;
    border-radius: 30px;
    width: 75vw;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    color: rgb(72, 66, 66);
    background-color: rgba(255, 255, 255, 0.658);
}


.kosar p{
    font-size: 1vw;
    margin-left: 30px;
    gap: 15px;
}

.ossz{
    margin-top: 1em;
    padding: 15px;
    border-radius: 15px;
    color: rgb(72, 66, 66);
    background-color: rgba(255, 255, 255, 0.658);
    margin-bottom: 150px;
    font-weight: bold;
    padding-top: 5px;
    display: flex;
    align-items: center;
}

.ossz p{
    font-size: 25px;
}

#ar{
    grid-column: 5/ span 2;
    grid-row: 5;
    color: white;
    border: 1px white solid;
    margin-bottom: 150px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    font-size: 25px;
}

select{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.658);
    width: 200px;
    height: 50px;
    margin-top: 30px;
    font-size: 20px;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
}

.osszeg{
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.658);
    width: 200px;
    height: 50px;
    margin-top: 30px;
    font-size: 20px;
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
}
ol, ul {
    list-style: none;
}
li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
a:hover, a:focus, a:active {
    color: #999;
    text-decoration: none;
}
a {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: rgb(255, 255, 255);
}
#fo::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: green;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
#fo:active::before {
    background-color: green;
}
#fo:hover::before, #fo:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

#etlap::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: lightgray;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
#etlap:active::before {
    background-color: lightgray;
}
#etlap:hover::before, #etlap:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

#info::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: red;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
#info:active::before {
    background-color: red;
}
#info:hover::before, #info:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}