*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/20230313\ \ Pizzéria\ cssgrid\ oldal\ készítése/kepek/pizzahatter.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
a{
    text-decoration: none;
    color: white;
}

.icon{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon:hover{
    cursor: pointer;
}

#img{
    width: 100px;
    height: 100px;
}

#kosar{
    width: 80px;
    height: 50px;
    
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px red solid;
    border-radius: 30px;
    background-color: transparent;
    margin-left: 50px;
    padding: 30px;
    width: 150px;
    height: 40px;
    font-family: 'Fasthand', cursive;
    font-size: 25px;
    line-height: 10px;
    font-weight: 200px;
}
button p{
    color:  red;
}

button:hover{
    cursor: pointer;
}

button:active{
    background-color: rgb(112, 34, 34);
    border: 1px solid black;
    width: 120px;
    height: 35px;
}


.cont{
    display: grid;
    grid-template-columns: repeat(9, 200px);
    grid-template-rows: repeat(5,190px);
    color: white;
}

.name{
    font-family: 'Fasthand', cursive;
    font-size: 30px;
    grid-row: 3 / span 4;
    grid-column: 4/ span 7;
    display: flex;
    gap: 40px;
}
.zold{
    color: green;
}
.piros{
    color: red;
}
.menu{
    text-align: center;
    padding: 3px 6px;
    margin: 50px 50px;
	display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/ span 3;
    grid-row: 1;
    font-family: 'Fasthand', cursive;
    

}
ul{
    list-style: none;
    display: flex;
    flex-flow: row;
    gap: 65px;
    font-size: 25px;
}

#fo:hover{
    color: green;
    cursor: pointer;
}

#etlap:hover{
    color: lightgrey;
    cursor: pointer;
}

#info:hover{
    color: red;
    cursor: pointer;
}

.elerheto{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-flow: column;
    grid-column: 5/ span 2;
    grid-row: 5;
    font-size: 20px;
}
ol, ul {
    list-style: none;
}
li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
a:hover, a:focus, a:active {
    color: #999;
    text-decoration: none;
}
a {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: rgb(255, 255, 255);
}
#fo::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: green;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
#fo:active::before {
    background-color: green;
}
#fo:hover::before, #fo:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

#etlap::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: lightgray;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
#etlap:active::before {
    background-color: lightgray;
}
#etlap:hover::before, #etlap:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

#info::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: red;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
#info:active::before {
    background-color: red;
}
#info:hover::before, #info:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}