*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/20230313\ \ Pizzéria\ cssgrid\ oldal\ készítése/kepek/pizzahatter.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
a{
    text-decoration: none;
    color: white;
}

.icon{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon:hover{
    cursor: pointer;
}

#img{
    width: 100px;
    height: 100px;
}

#kosar{
    width: 80px;
    height: 50px;
    
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px red solid;
    border-radius: 30px;
    background-color: transparent;
    margin-left: 50px;
    padding: 30px;
    width: 150px;
    height: 40px;
    font-family: 'Fasthand', cursive;
    font-size: 25px;
    line-height: 10px;
    font-weight: 200px;
}
button p{
    color:  red;
}

button:hover{
    cursor: pointer;
}

button:active{
    background-color: rgb(112, 34, 34);
    border: 1px solid black;
    width: 120px;
    height: 35px;
}


.cont{
    display: grid;
    grid-template-columns: repeat(9, 200px);
    grid-template-rows: repeat(5,190px);
    color: white;
}

.name{
    font-family: 'Fasthand', cursive;
    font-size: 30px;
    grid-row: 3 / span 4;
    grid-column: 4/ span 7;
    display: flex;
    gap: 40px;
}
.zold{
    color: green;
}
.piros{
    color: red;
}
.menu{
    text-align: center;
    padding: 3px 6px;
    margin: 50px 50px;
	display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/ span 3;
    grid-row: 1;
    font-family: 'Fasthand', cursive;
    

}
ul{
    list-style: none;
    display: flex;
    flex-flow: row;
    gap: 65px;
    font-size: 25px;
}

#fo:hover{
    color: green;
    cursor: pointer;
}

#etlap:hover{
    color: lightgrey;
    cursor: pointer;
}

#info:hover{
    color: red;
    cursor: pointer;
}

.elerheto{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-flow: column;
    grid-column: 5/ span 2;
    grid-row: 5;
    font-size: 20px;
}