*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/kepek/pizzahatter.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.icon{
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon:hover{
    cursor: pointer;
}

#img{
    width: 100px;
    height: 100px;
}


.cont{
    display: grid;
    grid-template-columns: repeat(9, 200px);
    grid-template-rows: repeat(5,190px);
    color: white;
}

.name{
    font-family: 'Fasthand', cursive;
    font-size: 30px;
    grid-row: 3 / span 4;
    grid-column: 4/ span 7;
    display: flex;
    gap: 40px;
}
.zold{
    color: green;
}
.piros{
    color: red;
}
.menu{
    border-radius: 3px;
    padding: 3px 6px;
    margin: 50px 50px;
	display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 4/ span 3;
    grid-row: 1;
    font-family: 'Fasthand', cursive;

}
ul{
    list-style: none;
    display: flex;
    flex-flow: row;
    gap: 65px;
    font-size: 25px;
}

#fo:hover{
    color: green;
    cursor: pointer;
}

#etlap:hover{
    color: lightgrey;
    cursor: pointer;
}

#info:hover{
    color: red;
    cursor: pointer;
}

.elerheto{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-flow: column;
    grid-column: 5;
    grid-row: 5;
}


    





